@charset "utf-8";
/* user login.css */
html,body {
  height: 100%
}
.btn-danger {
  background-color: rgb(189,8,28);
  border-color: rgb(189,8,28);
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active {
  background-color: #d50c22;
  border-color: #d50c22
}

body {
  font-size: 14px;
  position: relative;
  background-color: #efefef;
}
.iconpic {
  display: inline-block;
  vertical-align: sub;
  _vertical-align: middle;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat
}
.iconpic-logo {
  width: 50px;
  height: 50px;
  background-image: url(./static/images/logo.jpeg);
  background-size: 100% auto;
}

.login-wraper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.login-form {
  position: fixed;
  width: 340px;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  left: 50%;
  top: 50px;
  margin-left: -200px;
  padding: 30px;
}
@media (max-width: 768px) {
  .login-form {
    position: static;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    margin-left: 0;
    border-radius: 0;
  }
}
.login-form .form {
  width: 240px;
  margin: auto;
}

.login-form .form .row {
  position: relative;
  margin-top: 20px;
}

.login-form .form-title {
  color: #555;
  font-size: 26px;
  margin-top: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -1.2px;
}

.login-form .form .input-text {
  border: 0;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #f0f0f0
}

.login-form .form .input-text.error {
  background-color: rgb(250,255,189);
}

.login-form .form .row label.error {
  color: #c00;
  right: 5px;
  top: 10px;
  display: none;
}
