{extend name="pub/base" /}
{block name="title"}
<title>SEO设置</title>
{/block}

{block name="body"}
<div class="Hui-admin-article">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
        首页
        <span class="c-gray en">/</span>
        SEO设置
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="clearfix pd-20">
            <form action="{:url('seo')}" method="post" class="form form-horizontal"
                  enctype="multipart/form-data">
                <div class="row clearfix">
                    <label class="form-label col-xs-4 col-sm-3">URL端点形式：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <select name="book_end_point" class="select">
                            <option value="id"
                                    {if $book_end_point == 'id'}
                            selected
                            {/if}
                            >id</option>
                            <option value="name"
                                    {if $book_end_point == 'name'}
                            selected
                            {/if}
                            >别名</option>
                        </select>
                    </div>
                </div>

                <div class="row clearfix">
                    <label class="form-label col-xs-4 col-sm-3">URL端点格式：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <select name="name_format" class="select">
                            <option value="pure"
                                    {if $name_format == 'pure'}
                            selected
                            {/if}
                            >全拼</option>
                            <option value="abbr"
                                    {if $name_format == 'abbr'}
                            selected
                            {/if}
                            >首字母</option>
                        </select>
                    </div>
                </div>

                <div class="row clearfix">
                    <label class="form-label col-xs-4 col-sm-3">站点地图生成数量：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$sitemap_gen_num}" name="sitemap_gen_num">
                    </div>
                </div>

                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                    </div>
                </div>
            </form>
        </article>
    </div>
</div>

<!--/请在上方写此页面业务相关的脚本-->
{/block}