<aside class="Hui-admin-aside-wrapper">
    <div class="Hui-admin-logo-wrapper">
        <a class="logo navbar-logo" href="{:url('index')}">
            <i class="va-m iconpic global-logo"></i>
            <span class="va-m">小涴熊漫画CMS</span>
        </a>
    </div>
    <div class="Hui-admin-menu-dropdown bk_2">
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;</i> 漫画管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('books/index')}">漫画列表</a></li>
                    <li><a href="{:url('books/disabled')}">下架漫画列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;</i> 地区管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('areas/index')}">地区列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;</i> 题材管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('tag/index')}">题材列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe60d;</i> 作者管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('authors/index')}">作者列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe613;</i> 轮播管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('banners/index')}">轮播列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('admins/index')}">管理员列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('users/index')}">正常用户列表</a></li>
                    <li><a href="{:url('users/disabled')}">锁定用户列表</a></li>
                    <li><a href="{:url('users/subusers')}">下级用户列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe620;</i> 支付管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('payment/index')}">支付设置</a></li>
                    <li><a href="{:url('payment/orders')}">订单管理</a></li>
                    <li><a href="{:url('payment/finance')}">财务记录</a></li>
                    <li><a href="{:url('payment/buy')}">购买记录</a></li>
                    <li><a href="{:url('payment/charge')}">代充值</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe62e;</i> 卡密管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('vipcodes/index')}">vip码管理</a></li>
                    <li><a href="{:url('chargecodes/index')}">充值码管理</a></li>
                    <li><a href="{:url('index/kamiconfig')}">卡密生成设置</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe622;</i> 短信管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('sms/smsbao')}">短信宝设置</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('messages/index')}">留言管理</a></li>
                    <li><a href="{:url('comment/index')}">评论管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe62e;</i> 其他管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('index/index')}">系统设置</a></li>
                    <li><a href="{:url('index/seo')}">SEO设置</a></li>
                    <li><a href="{:url('index/routeconfig')}">路由管理</a></li>
                    <li><a href="{:url('friendshiplinks/index')}">友链设置</a></li>
                    <li><a href="{:url('sitemap/index')}">网站地图</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="Hui-admin-aside-mask"></div>