.read-section.sidebar-main {
    left: -212px;
    width: 212px;
}
.sidebar-main {
    position: fixed;
    top: 165px;
    bottom: 200px;
    z-index: 9;
}
.read-section .sidebar-header {
    border-top-right-radius: 4px;
}
.sidebar-header {
    height: 40px;
    line-height: 40px;
    background: #333;
}
.sidebar-header-l {
    float: left;
    margin-left: 10px;
    font-size: 16px;
    color: #fff;
font-style: normal;
}
.sidebar-header-r {
    float: right;
    margin-right: 15px;
    font-size: 14px;
    color: #fff;
    font-style: normal;
}
.read-section .sidebar-content {
    padding-left: 20px;
    bottom: 0;
    border-bottom-right-radius: 4px;
}
.mCustomScrollbar {
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}
.sidebar-content {
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    background: #3c3c3c;
}
.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: 0;
    direction: ltr;
}
.mCSB_inside > .mCSB_container {
    margin-right: 8px;
}
.mCSB_container {
    overflow: hidden;
    width: auto;
    height: auto;
}
.read-section .sidebar-content li {
    position: relative;
    height: 45px;
    line-height: 45px;
    padding-left:10px;
}
.read-section .sidebar-content li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 80%;
    font-size: 14px;
    color: #b0b0b0;
}
.read-section .sidebar-content li .active {
    color: #ffb600;
}
.mCSB_scrollTools {
    opacity: .75;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}
.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
    z-index: 1;
}
.theme-scroll-bk .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(95,95,95,0.75);
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(223,223,223,0.75);
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
    -webkit-transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
    transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.read-section .sidebar-btn {
    right: -40px;
    border-radius: 0 8px 8px 0;
}
.sidebar-btn {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    margin-top: -50px;
    padding: 18px 0;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #b0b0b0;
    background: #3c3c3c;
    cursor: pointer;
}
.sidebar-btn .read-icon-list {
    display: block;
    margin: 0 auto 10px;
}
.read-icon-list {
    width: 16px;
    height: 13px;
    background: url(https://cdn.517w.com/web_statics/v100/images/v1.3/read/djc-read-icon.png) 0 0 no-repeat;
}