{extend name="pub/base2" /}
{block name="title"}
<title>友链新增</title>
{/block}

{block name="body"}
<article class="clearfix pd-20">
    <form class="form form-horizontal" method="post">
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>友链名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" name="name">
            </div>
        </div>

        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>友链地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" name="url">
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function(){
        $("form").validate({
            rules:{
                name:{
                    required:true,
                    maxLength:50
                },
                url:{
                    required:true,
                    maxLength:50
                },
            },
            onkeyup:false,
            focusCleanup:false,
            submitHandler: function(form) {
                $.ajax({
                    url:"{:url('create')}",
                    type:'post',
                    data:$('form').serialize(),
                    success(res) {
                        subResHandle(res)
                    }
                })
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
