.mod-top-nav-wr{
    height: 58px;
}
.mod-top-nav {
	position: relative;
}
.mod-top-nav-list{
    width: 850px;
    height: 54px;
    margin-left: 14px;
}
.mod-top-nav-list li{
    float: left;
    height: 54px;
    margin-left: -16px;
}
.mod-top-nav-list .mod-top-nav-rank{
    background: none!important;
}
.mod-top-nav-list a{
	height:54px;
	line-height:54px;
    display: block;
    padding-left: 20px;
	position:relative;
}
.mod-top-ico-new{
	width:25px;
	height:11px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}
.mod-top-nav-list .mod-top-ico-new{
	position:absolute;
	top:7px;
	right:8px;
}
.mod-top-nav-list a span{
    display: block;
    padding: 0 27px 0 6px;
    line-height: 54px;
    font-family: "微软雅黑";
    font-size: 16px;
    text-shadow: 0 0px 0px #fff;
    color: #fff;
}


.mod-top-nav-tool{
    width: 243px;
    margin-top: 10px;
	margin-left:-20px;
}
.mod-top-nav-btn{
	width:146px;
	float:left;
	margin-top:10px;
}
.mod-top-nav-btn a{
	float:left;
	color:#7d360f;
	font-weight:bold;
}
.mod-top-nav-btn a:hover{
	text-decoration:underline;
}
.mod-top-nav-btn .mod-top-shu{
	float:left;
	background:#7d360f;
	width:1px;
	height:12px;
	margin:0 7px;
	margin-top:3px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	font-weight:bold;
}
.mod-top-nav-replenish{
    width: 94px;
    height: 34px;
    line-height: 34px;
    color: #7d360f;
    font-size: 14px;
}
.mod-top-nav-maker{
	line-height:18px;
	position:relative;
}
.mod-top-nav-maker .mod-top-ico-new{
	position:absolute;
	top:-12px;
	right:-5px;
}

/*.mod-top-nav-upload:hover,
.mod-top-nav-replenish:hover{
    background: -moz-linear-gradient(top, #fff5e5, #fee9c4);
    background: -webkit-linear-gradient(top, #fff5e5, #fee9c4);
    background: -o-linear-gradient(top, #fff5e5, #fee9c4);
    background: -ms-linear-gradient(top, #fff5e5, #fee9c4);
    background: url(../images/ac_btn_bg.png) 0 -1110px\9;
}
.mod-top-nav-upload:active,
.mod-top-nav-replenish:active{
    background: -moz-linear-gradient(top, #ffdca0, #ffefd3);
    background: -webkit-linear-gradient(top, #ffdca0, #ffefd3);
    background: -o-linear-gradient(top, #ffdca0, #ffefd3);
    background: -ms-linear-gradient(top, #ffdca0, #ffefd3);
    background: url(../images/ac_btn_bg.png) 0 -1140px\9;
}*/
.mod-top-nav-upload i{
    width: 13px;
    height: 13px;
    margin: 9px 5px 0 10px;
}
.mod-top-nav-replenish i{
	width:18px;
	height:19px;
	margin:7px 0 0 9px;
}
.mod-top-nav-upload{
    margin-right: 10px;
}
.top-nav-i{
	position:absolute;
	text-indent:-9999px;
}