body{
    background:url(../images/ac_body_bg.png);
}

.ran-week-share,
.ran-week-tall,
.ran-week-comm{
    background-image: url(../images/page_rank_sprite.png);
    background-repeat: no-repeat;
}
.ran-week-handle .active{
	background:url(../images/ac.rank.spr.png) no-repeat;
}
.ran-wrapp{
    width: 1034px;
	float:right;
}
.ran-rank-title{
    height: 24px;
    font: normal 24px/24px "微软雅黑";
    padding-left: 12px;
    border-left: 5px solid #ff9126;
    color: #000;
}
.ran-wrapp .mod-rank-list-wr{
    height: 426px;
}
.top-border{
    width: 100%;
    height: 16px;
    margin-top: -4px;
    background: url(../images/ac.rank.spr.png) repeat-x 0 -72px;
}
.ran-main-top{
    width: 1200px;
}
.ran-main-top .ran-rank,
.ran-week-top{
    border: 1px solid #dedede;
}
.ran-main-top .ran-rank{
    float: left;
    margin-right: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    height: 534px;
}
.ran-rank{
    width: 322px;
    background-color: #fff;
}
.ran-rank .mod-rank-head{
    height: 58px;
    padding: 0 12px;
    border-bottom: 1px solid #dedede;
}
.ran-rank-handle{
	margin-top:22px;
}
.rank-award-passage .ran-rank-handle{
    margin:5px 30px -22px 0;
}
.ran-rank-handle a{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-bottom: 10px;
    color: #333;
    text-align: center;
    font-size: 14px;
    border-bottom: 5px solid #fff;
}
.rank-award-passage .ran-rank-handle a{
	 margin:0 4px;
}
.ran-rank-handle .active{
    font-weight: bold;
    border-color: #ff9126;
}
.ran-rank .ran-rank-title{
    margin-top: 17px;
}
.ran-rank .mod-rank-list-wr{
    padding: 30px 30px 22px 30px;
}
.ran-dir-wr{
    position: relative;
    float: right;
    width: 82px;
    margin-top: 24px;
}
.ran-dir{
    font-size: 14px;
    color: #333;
}
.ran-dir i{
    margin: 1px 0 0 8px;
}
.ran-dir-wr .mod-tips-wr{
    display: none;
    width: 266px;
    left: -214px;
    top: 34px;
    padding: 16px;
}
.ran-dir-wr .mod-tips-arrow{
    left: 244px;
}
.ran-dir-text{
    line-height: 22px;
}
.ran-ad-wr{
    width: 100%;
    height: 100px;
    padding: 16px 0;
    background-color: #535353;
    overflow: hidden;
}
.ran-ad-list li{
    float: left;
    margin-left: 15px;
}
.ran-ad-list a{
    display: block;
    width: 492px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #393939;
    overflow: hidden;
}
.ran-ad-list a:hover{
    border-color: #ff9a6a;
    box-shadow: 0 0 14px #ff9a6a;
}
.ran-ad-list img{
    width: 492px;
    height: 100px;
}
.ran-week-top{
    border: 1px solid #dedede;
    background-color: #fff;
    overflow: hidden;
	position:relative;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}
.ran-week-handle{
    position: relative;
}
.ran-week-handle li{
    float: left;
    width: 128px;
    height: 52px;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
    overflow: hidden;
}
.ran-week-handle .active{
    background-position: 54px -118px;
    background-color: #ff9a6a;
    border-bottom-color: #fff;
}

.ran-week-handle a{
    display: block;
    height: 100%;
    padding-left:20px;
    line-height: 52px;
    color: #666;
    font-size: 16px;
    font-family: "微软雅黑";
}
.ran-week-handle a i{
	margin-right:8px;
}
.ran-week-handle .active a{
    color: #fff;
}
.ran-week-handle .active:hover{
    background-color: #ff9a6a;
}
.ran-week-share{
    background-position: -102px -35px;
}
.ran-week-tall{
    background-position: 20px -81px;
}
.ran-week-comm{
    background-position: 19px -127px;
}
.ran-week-red .iconfont{
	font-size:12px;
}


.ran-week-handle .active .ran-week-share{
    background-position: -102px -128px;
}
.ran-week-handle .active .ran-week-tall{
    background-position: 20px -226px;
}
.ran-week-handle .active .ran-week-comm{
    background-position: 20px -271px;
}
.ran-week-wr{
    width: 1200px;
    height: 1068px;
}
.ran-week-wr .ran-rank{
    float: left;
    width: 344px;
    margin-top: -1px;
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.ran-week-wr .mod-rank-head{
    height: 40px;
    *height: 60px;
}

/* ran-rank-month 月票榜 新加 */
.ran-rank-month{
	width: 1030px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #dcdad6;
	background-color: #fff;
	border-right: 1px solid #ecebe9;
}
.ran-rank-month .ran-rank{
	position:relative;
	width:1016px;
    height:auto;
	box-shadow:none;
	border:none;
	overflow:hidden;
	_display:inline;
}
.ran-rank-month .ran-rank-handle{
    margin:5px 0 -22px 0;
}
.ran-rank-month .ran-rank-handle a{
	margin: 0 6px;
    width: 30px;
    padding-bottom: 11px;
}
.ran-rank-month .ran-rank-handle .active{
    font-weight: bold;
	border-bottom: 5px solid #ff9126;
}
.ran-rank-month-tit{
	padding:20px 26px 15px 13px;
	border-bottom:1px solid #ecebe9;
	line-height:18px;
	position:relative;
}
.ran-rank-month-txt{
	padding-left:20px;
	height:24px;
	line-height:27px;
}
.ran-ico-gg{
	background:#fe8929;
	color:#fff;
	font-size:14px;
	height:32px;
	line-height:32px;
	display:inline-block;
	padding:0 18px;
	border:1px solid #ff9e3a;
	position:absolute;
	top:14px;
	left:346px;
}
.ran-rank-month .btn-rank-zx{
	background:url(../images/ac.rank.spr.png) no-repeat;
	width:85px;
	height:40px;
	line-height:34px;
	color:#fff;
	position:absolute;
	top:17px;
	right:-8px;
	text-align:center;
}
.mod-rank-subtit{
	padding:0 15px 0 11px;
	border-bottom:1px solid #ecebe9;
}
.mod-rank-sublist li.last{
	border-right:none;
}
.mod-rank-sublist b,
.mod-rank-sublist strong,
.mod-rank-sublist em{
	display:block;
	font-weight:normal;
	white-space:nowrap;
}
.mod-rank-sublist b{float:left; width:222px;}
.mod-rank-sublist strong{float:left; width:75px;}
.mod-rank-sublist em{float:left; width:61px;}
.ran-rank-month .mod-rank-month-wr{
	position:relative;
	width:1020px;
    height: 350px;
	padding-left: 10px;
	overflow:hidden;
}
.mod-rank-money{
	width:41px;
	height: 34px;
	line-height: 34px;
	color:#ff9a6a;
	text-align:left;
}
.mod-rank-month-over{
	position:absolute;
	top:104px;
	left:90px;
	z-index:5;
	width:138px;
	height:87px!important;
	background: url(../images/ac_vip_icon.png) no-repeat 0 -193px;
}
.mod-rank-month-list{
	float:left;
	position: relative;
	padding:0 21px;
	width:293px;
}
.mod-rank-month-list .mod-rank-num{
	width:60px;
	margin-right:12px;
	text-align:left;
}

/* 提示弹出层 */
.ran-rank-month-tit .in-dir-desc{
	background-image:url(about:blank);
    line-height:22px;
	top:60px;
    left:200px;
	padding:12px;
	z-index:999;
}
.ran-rank-month-tit .mod-tips-arrow{
	left:240px;
}
.ran-rank-month-tit .mod-tips-wr{
	width:460px;
}
.rank-pic-null{
	background : url(../images/pic_phb_1.jpg) no-repeat;
	width:750px;
	height:323px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}

/* 打赏排行榜 */
.spr {
	background: url(../images/ac.rank.spr.png) no-repeat;
}
.rank-box1 {
	width: 1030px;
	height: 470px;
	background: url(../images/rank-box1.jpg) no-repeat;
	margin-top: 10px;
	padding-top: 1px;
}
.rank-box1-none {
	width: 1030px;
	height: 470px;
	background: url(../images/rank-box2.jpg) no-repeat;
	margin-top: 10px;
	padding-top: 1px;
}
.mod-rank-subtit {
	padding: 10px 15px 10px 2px;
	border-top: 1px solid #ecebe9;
	margin-top: 45px;
}
.mod-rank-sublist li {
	float: left;
	width: 316px;
	height: 41px;
	line-height: 41px;
	margin: 0 0 0 18px;
	float: left;
}
.mod-rank-sublist li.li_1 {
	width: 315px;
	padding-left: 10px;
}
.mod-rank-sublist li.li_2 {
	width: 316px;
}
.mod-rank-sublist li.li_3 {
	width: 329px;
}
.rank-award {
	width: 1034px;
	margin-top: 30px;
}
.rank-award-month-personal {
	background: #fff;
}
.rank-award-passage {
	background: #fff;
	width: 672px;
	height: 590px;
	border: 1px solid #dad8d4;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}
.rank-award-tit {
	padding: 20px 26px 15px 13px;
	line-height: 18px;
	position: relative;
}
.rank-award-month-passage {
	line-height: 18px;
	position: relative;
	padding: 0 30px;
}
.rank-award-h1 {
	height: 40px;
	border-top: 1px solid #ecebe9;
	border-bottom: 1px solid #ecebe9;
	line-height: 40px;
}
.rank-award-h1 b ,.rank-award-h1 strong {
	font-weight: normal;
	display: block;
	float: left;
}
.rank-award-h1 b {
	width: 183px;
	padding-left: 28px;
}
.rank-award-h1 strong {
	width: 134px;
}
.rank-award-month li, .rank-award-month-per li {
	height: 34px;
	width: 620px;
	line-height: 34px;
	border-bottom: 1px dotted #e5e5e5;
}
.rank-award-month li {
	position: relative;
}
.rank-award-month li.li-spe .trend {
	position: absolute;
	top: 10px;
	right: 12px;
}
.rank-award-month li .trend {
	position: absolute;
	top: 0;
	right: 14px;
}
.rank-award-month-per li {
	width: auto;
	zoom: 1;
}
.rank-award-month-per li: after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.rank-award-month .li-spe,.rank-award-month-per .li-spe {
	padding: 12px 0 11px;
	height: 48px;
}
.rank-award-month img {
	display: inline-block;
}
.mod-rank-name1{
	color: #666;
	display: block;
	width: 152px;
}
.mod-rank-name1:hover{
	color:#fa8729;
}
.rank-award-month .li-spe .mod-rank-name1 {
	height: 46px;
	line-height: 46px;
}
.rank-award-month .li-spe .mod-rank-keep {
	margin-top: 16px;
}
.rank-award-month li a{
	color: #666;
}
.rank-award-month li a:hover{
	color: #ff9a6a;
}
.award-author {
	display: block;
	float: left;
	width: 132px;
}
.front3 {
	display: block;
	float: left;
	width: 290px;
}
.rank-award-month-personal .trend {
	margin-right: 2px;
}
.trend {
	width: 6px;
	height: 6px;
	display: block;
	float: right;
	margin-top: 15px;
}
.upfloor {
	background-position: 0 -62px;
}
.downfloor {
	background-position: -7px -62px;
}
.stayfloor {
	background-position: -13px -62px;
}
.li-spe .trend {
	margin-top: 22px;
}
.front-award {
	width: 88px;
	display: block;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.award-author,.award-num {
	font-weight: normal;
}
.rank-award-personal {
	float: left;
	background: #fff;
	width: 320px;
	height: 590px;
	border: 1px solid #dad8d4;
	margin-left: 29px;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}
.rank-award-month-per {
	background: #fff;
	padding: 0 25px;
}
.rank-award-month-per .mod-rank-keep,.rank-award-month-per .mod-rank-light {
	margin-right: 26px;
}
.rank-award-h2 b {
	width: 40px;
	margin-left: 20px;
	padding-left: 0;
}
.rank-award-h2 strong {
	width: 110px;
	padding-left: 16px;
}
.rank-award-h2 em {
	padding-left: 28px;
}
.mod-rank-name1 img {
	display: inline;
	vertical-align: -17px;
	margin-right: 14px;
}
.rank-award-month-per .li-spe {
	line-height: 48px;
}
.rank-award-month-per .mod-rank-name1 {
	width: 146px;
	display: block;
	float: left;
	position: relative;
}
.rank-award-month-per .award-num {
	width: 60px;
	display: block;
	float: left;
	text-align: right;
}
.img-box {
	width: 88px;
	display: block;
	float: left;
	position: relative;
}
.t-vip {
	background: url(../images/ac_vip_icon.png) no-repeat -180px -492px;
	display: block;
	width: 59px;
	height: 55px;
	position: absolute;
	left: -4px;
	top: -8px;
}
.rank-ico-plays {
	position: absolute;
	top: -13px;
	left: -13px;
}
.rank-award-name {
	width: 88px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 60px;
}
.mod-rank-name1: hover {
	color: #eb7400;
}
.rank-award-month li a.rank-ft-red, .rank-ft-red {
	color: #dd0000;
}
.rank-award-month-per li.rank-li-none {
	height: auto;
	width: auto;
	border: 0 none;
}
.rank-award-month-per-none {
	background: url(../images/bg_fans_none.jpg) no-repeat;
	height: 461px;
	margin-left: -14px;
}
.rank-award-none-no1, .rank-award-none-no2 {
	width: 668px;
	height: 452px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -28px;
}
.rank-award-none-no1 {
	background: url(../images/bg_rank_plays_none_1.jpg) no-repeat;
}
.rank-award-none-no2 {
	background: url(../images/bg_rank_plays_none_2.jpg) no-repeat;
}
.mt-3 {
	margin-top: 3px;
}

/* 排行榜左侧导航 */
.mod-rank-wrap{
	width:1220px;
	margin:40px auto 0;
}
.mod-rank-menu{
	background:#fff;
	width:160px;
	padding-bottom:5px;
	border:1px solid #dad8d4;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}
.mod-rank-menu a{
	color:#333;
}
.ui-rank-tit{
	background:#d51804;
	color:#fff;
	height:42px;
	line-height:42px;
	font-family:"Microsoft YaHei";
	font-size:20px;
	text-align:center;
}
.mod-rank-tab a{
	float:left;
	background:#f7f7f7;
	height:27px;
	line-height:27px;
	width:80px;
	display:block;
	overflow:hidden;
	text-align:center;
}
.mod-rank-tab .active{
	font-weight:bold;
}
.mod-rank-tab .no1{
	width:79px;
	border-right:1px solid #edeceb;
}
.ui-rank-ft-tit{
	border-top:1px solid #ecebe9;
	border-bottom:1px solid #ecebe9;
	display:block;
}
.ui-rank-ft-tit span{
	color:#d51804;
	height:38px;
	line-height:38px;
	font-size:14px;
	border-left:4px solid #d51804;
	padding-left:12px;
	display:block;
	font-weight:bold;
}
.mod-rank-menu-list{
	padding:0 14px;
}
.mod-rank-menu-list li{
	padding:9px 0 8px;
	border-bottom:1px dashed #ccc;
}
.mod-rank-menu-list li a, .ui-rank-ft-xone{
	font-size:14px;
	display:block;
	text-align:center;
}
.ui-rank-ft-xone{
	color:#333;
}
.mod-rank-menu-list li a:hover{
	color:#d30000;
}
.mod-rank-menu-list li .fwb{
	font-weight:bold;
}
.mod-rank-menu-list li.last{
	border:0 none;
}
.mod-rank-menu-list .ui-rank-sub-list a{
	display:inline;
}
.ui-rank-sub-list{
	padding:4px 0 6px;
}
.ui-rank-sub-list p{
	height:18px;
	padding:7px 0;
	text-align:center;
}
.ui-bg-org .ui-rank-ft-tit span{
	border-color:#ff9a6a;
	color:#ff9a6a;
}
.ui-bg-org .ui-rank-tit{
	background:#ff9a6a;
}
.ui-bg-org .mod-rank-menu-list li a:hover{
	color:#f06d00;
}
/* 排行榜左侧导航 end */

/*子榜样式*/
.rank-right{
	width:1034px;
}
.rank-sub-list{
	background:#fff;
	border:1px solid #dad8d4;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}
.ran-rank-tit{
	padding:20px 26px 15px 13px;
	border-bottom:1px solid #ecebe9;
}
.ran-rank-title{
	border-left: 5px solid #d51804;
    color: #000;
    font: 24px/24px "微软雅黑";
    height: 24px;
    padding-left: 12px;
}
.ui-bg-org .ran-rank-title{
	border-color:#ff9a6a;
}
.ran-rank-month-txt{
	height: 24px;
    line-height: 27px;
    padding-left: 20px;
}
.ran-rank-handle{
	margin:5px 0 -22px  0
}
.ran-main-list .ran-rank-handle{
	margin-top:24px;
}
.ran-rank-handle a{
	color:#333;
	margin: 0 6px;
    padding-bottom:8px;
	border-bottom:5px soild #fff;
	display:inline-block;
	font-size:14px;
	text-align:center;
}
.ran-rank-handle-a a{
	width:70px;
}
.ran-rank-handle .active{
	border-bottom: 5px solid #d51804;
    font-weight: bold;
}
.ui-bg-org .ran-rank-handle .active{
	border-color:#ff9a6a;
}
.rank-list-wrap{
	padding:18px 0 28px 4px;
}
.rank-ul{
	float:left;
	width:175px;
	padding:0 14px;
	border-right:1px dashed #ccc;
}
.rank-ul.last{
	border:0 none;
}
.rank-ul li{
	height:18px;
	line-height:18px;
	padding:7px 0 6px;
	zoom:1;
}
.rank-ul li.pt-none{
	padding-top:0;
}
.rank-ul li:after{
	content:"."; display:block; height:0; clear:both; visibility:hidden;
}
.rank-ul .ui-border-em{
	float:left;
	width:20px;
	height:17px;
	line-height:17px;
	margin-right:10px;
}
.rank-ul li a{
	float:left;
	color:#333;
}
.rank-ul li a:hover{
	color:#a30000;
}
.ui-bg-org .rank-ul li a:hover{
	color:#f06d00;
}

.ico-vip, .rank-month-hao-list .big, .small-no{
	background:url(../images/ac_vip_subpage.png) no-repeat;
}

/* 月票 */
.rank-month-xone, .rank-month-all{
	background:#fff;
	border:1px solid #dad8d4;
}
.rank-month-top{
	height:45px;
	padding:20px 0 0 18px;
}
.rank-month-hao{
	width:1030px;
	border:1px solid #d21804;
	overflow:hidden;
}
.rank-month-hao-list{
	width:1036px;
}
.rank-month-hao-list li{
	float:left;
	line-height:18px;
	position:relative;
}
.rank-month-hao-list .big{
	width:341px;
	border-right:1px solid #e1e0e0;
}
.rank-month-hao-list .no1{
	background-position:-203px -109px;
}
.rank-month-hao-list .no2{
	background-position:-203px -247px;
}
.rank-month-hao-list .no3{
	background-position:-203px -385px;
	border:0 none;
}
.rank-month-hao-list .small{
	border-top:1px solid #e1e0e0;
	border-right:1px solid #e1e0e0;
}
.small-no{
	width:46px;
	height:46px;
	display:block;
	overflow:hidden;
	text-indent:-9999;
	position:absolute;
	top:0;
	left:0;
}
.small-no4{
	background-position:0 -343px;
}
.small-no5{
	background-position:0 -396px;
}
.small-no6{
	background-position:0 -456px;
}
.small-no7{
	background-position:0 -514px;
}
.small-no8{
	background-position:0 -568px;
}
.small-no9{
	background-position:0 -628px;
}
.small-no10{
	background-position:0 -687px;
}
.big .rank-vip-people{
	height:118px;
	padding:20px 0 0 97px;
}
.small .rank-vip-people{
	width:207px;
	height:74px;
	padding:20px 0 0  50px;
}
.last .rank-vip-people{
	width:257px;
	height:66px;
	padding:28px 0 0 0;
	text-align:center;
}
.rank-ft-best{
	color:#c91400;
	line-height:28px;
	font-family:"Microsoft YaHei";
	font-size:18px;
	font-weight:bold;
}
.rank-img{
	width:50px;
	height:50px;
	position:relative;
	display:block;
	border:2px solid #ab1909;
	border-radius:4px;
}
.big .rank-img{
	width:89px;
	height:89px;
}
.ico-vip{
	background-position:-6px -236px;
	width:65px;
	height:65px;
	position:absolute;
	top:-11px;
	left:-4px;
}
.big .ico-vip{
	background-position:-2px -108px;
	width:113px;
	height:113px;
	position:absolute;
	top:-16px;
	left:-8px;
	display:block;
}
.rank-people-text{
	float:left;
	width:136px;
	padding-left:15px;
}
.rank-people-text .name{
	color:#333;
	font-size:18px;
	font-family:"Microsoft YaHei";
	line-height:28px;
}
.rank-people-text .name:hover{
	color:#d30000;
}
.rank-people-text .name.ft-red{
	color:#b91200;
}
 .ft-month{
	 color:#333;
	 font-weight:bold;
 }
 .rank-month-ico{
	width:140px;
	padding-top:8px;
	margin-left:-5px;
 }

 /* 月票总榜 */
 .rank-month-all{
	margin-top:30px;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom:80px;
 }
.rank-all-mod{
	float:left;
	width:343px;
	border-right:1px solid #ddd;
}
.rank-all-mod.last{
	width:344px;
	border-right:0 none;
}
.rank-all-top{
	background:#cf1a06;
}
.rank-all-top span{
	float:left;
	color:#fff;
	height:41px;
	line-height:41px;
	display:block;
}
.rank-all-top .no1{
	width:42px;
	padding-left:23px;
}
.rank-all-top .no2{
	width:140px;
}
.rank-all-top .no3{
	width:110px;
	text-align:right;
}
.rank-all-ul{
	padding:14px 0 16px 25px;
}
.rank-all-ul li{
	width:288px;
	height:18px;
	padding:6px 0;
	zoom:1;
}
.rank-all-ul li:after{
	content:"."; display:block; height:0; clear:both; visibility:hidden;
}
.rank-all-ul li em{
	float:left;
	color:#333;
	width:15px;
	height:14px;
	line-height:14px;
	font-family:"Arial";
	border:1px solid #d2d2d2;
	display:block;
	text-align:center;
	margin:1px 12px 0 0;
}
.rank-all-ul li a{
	float:left;
	width:194px;
	color:#333;
}
.rank-all-ul li a:hover{
	color:#d30000;
}
.rank-all-ul li a.ft-red{
	color:#b91200;
}
.rank-all-ul li .ft-all-month{
	float:left;
	width:48px;
	text-align:right;
}
.ran-rank-handle-all{
	margin:11px 24px -22px 0;
}
.ran-rank-handle-all a{
	color:#666;
	width:auto;
	padding-left:8px;
	padding-right:8px;
}
.ran-rank-handle-all a.active{
	color:#333;
	font-weight:bold;
}
.rank-rank-handle-six a{
	margin:0 10px;
}
.rank-bg-data-none{
	background:url(../images/ac_bg_list_none.jpg) no-repeat;
	display:block;
	margin-top:148px;
	height:242px;
}


/* org #f06d00 #ff9126 */
.ui-bg-org .rank-all-top{
	background:#ff9126;
}
.ui-bg-org .rank-all-ul li a:hover{
	color:#f06d00;
}
.ui-bg-org .rank-people-text .name:hover{
	color:#f06d00;
}
.rank-sub-mb{
	margin-bottom:70px;
}
/*子榜样式 end*/