@charset "UTF-8";
html {
  font-size: 20px; }

html {
  font-size: 10px;
  overflow-x: hidden; }
  @media screen and (min-width: 320px) {
    html {
      font-size: 17px; } }
  @media screen and (min-width: 360px) {
    html {
      font-size: 19px; } }
  @media screen and (min-width: 375px) {
    html {
      font-size: 20px; } }
  @media screen and (min-width: 414px) {
    html {
      font-size: 22px; } }

body {
  font-size: 14px; }

.not-found-info .npc-box .go-to-index, .not-found-info .recommend-box .recommend-list .comic-item, .not-found-info .recommend-box .recommend-list .comic-item .comic-cover, .not-found-info .recommend-box .recommend-list .comic-item .comic-cover .cover-image, .result-list .comic-item, .result-list .comic-item .comic-link, .result-list .comic-item .comic-cover, .result-list .comic-item .comic-cover .cover-image {
  border-radius: 0.1rem;
  overflow: hidden; }

.result-list .comic-item {
  -webkit-box-shadow: 0 0 0.125rem rgba(9, 2, 4, 0.06);
          box-shadow: 0 0 0.125rem rgba(9, 2, 4, 0.06); }

.result-list .comic-item .comic-cover {
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAANIAAAEYCAMAAAAeQ1gWAAAAgVBMVEUAAADd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d1XXN+nAAAAKnRSTlMA5v3yDSH07oH6fJ1KRrCoORzWWxPex3VqTwfRvI7hubWrhCiWBGVWPjJ1rRGyAAACcUlEQVR42u3aCW6jQBCF4WLfbGy8O96dZJzU/Q84kaIMOGBpEtMWtP7vAujpNU1XCwEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAX5vtnPAwFousHf2QvIktZiP9NBFLXBz9EogNZidVuyJNIy3NxZQg3Tqu62zTQAwrcq1w12JGkbn/npEVUmOqInUGYsbU04pwKsYUR60azcSMpX6zFEP+eFcVrcWQqdaY6ak4aFU2E0OCUGvCQkqGKhqIMSNtkEnbgq1WZb4YE7jawA2kXcNIK/ZDMWipjVJp1XuoFS++mLTVRltp0+tES/OhmOVoI0faNK1VZFKijRJpU15W9CY1vYy010/urrmiHi48Tz/tAnmAwyO2h71+8RYvf8Y3qurVJn7QK+78lK6/Fda3T+1Ka+qF9etA5Dt6g7t9l9YV3gOOrQNXbwkNZLpozUXatrqd6SilXo2A483NmqTCzKDuTcWIcZrPHxZJilF5nTIqxBx/vHpZeHolFzOC5WGfeJPDMhDzgktcFuY9iy38t1W28MLcnkTAjz09D1bn7LiY7KNIP0TRfrI4ZufV4PlJescfpqdJojclk1M69KUvnga7jf6XzW7Qg7pe1yNPf8AbrV+ly2axoz/mxDPpKv8c6q+E546+VkNHf80ZSgfFepdYOidVtSzTWO/ldu2nmlzvdpRuifRukXRLC5E86RYLF56F24OFm7hI7NqWyMYDkY3HVhuHCytHQCsHdTuvU64uveIsX2zmUZSoJlE03yzyLO7npRcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA67y/iNlttzNAyewAAAABJRU5ErkJggg==");
  background-size: contain;
  background-position: center;
  background-color: white; }

@font-face {
  font-family: 'iconfont';
  src: url("../../public/font/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale; }

/*
刷新1
*/
body {
  background-color: #F5F5EE; }
  body.not-found {
    background-color: white; }

.not-found-info .npc-box {
  height: 12.1rem;
  overflow: hidden;
  background-color: #F5F5EE;
  text-align: center; }
  .not-found-info .npc-box .npc-not-found {
    display: block;
    margin: 0.8rem auto 0.35rem auto;
    width: 4.65rem;
    height: 6.225rem;
    background-image: url("../images/npc-not-found.png");
    background-size: 4.65rem 6.225rem;
    background-repeat: no-repeat;
    text-indent: -2500rem;
    font-size: 0; }
  .not-found-info .npc-box .text-not-found {
    color: #cfcfcd;
    font-size: 0.9rem;
    line-height: 200%; }
  .not-found-info .npc-box .go-to-index {
    display: block;
    width: 5.75rem;
    height: 2.25rem;
    line-height: 2.25rem;
    margin: 0 auto;
    background-color: white;
    border: 0.125rem solid #ff9a6a;
    color: #ff9a6a;
    font-size: 0.9rem; }

.not-found-info .recommend-box .recommend-title {
  padding: 0.75rem 0.5rem;
  font-weight: normal;
  font-size: 0.7rem;
  color: #C5C5C5; }

.not-found-info .recommend-box .recommend-list {
  font-size: 0;
  background-color: white; }
  .not-found-info .recommend-box .recommend-list .comic-title, .not-found-info .recommend-box .recommend-list .comic-artist, .not-found-info .recommend-box .recommend-list .comic-desc, .not-found-info .recommend-box .recommend-list .comic-tag, .not-found-info .recommend-box .recommend-list .comic-latest {
    padding-top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .not-found-info .recommend-box .recommend-list .comic-item {
    display: inline-block;
    width: 28%;
    margin-left: 4%;
    overflow: hidden;
    background-color: #FFFFFF; }
    .not-found-info .recommend-box .recommend-list .comic-item:nth-child(3n) {
      margin-right: 4%; }
    .not-found-info .recommend-box .recommend-list .comic-item .comic-link {
      display: block; }
    .not-found-info .recommend-box .recommend-list .comic-item .comic-cover {
      margin-bottom: 0.4rem; }
      .not-found-info .recommend-box .recommend-list .comic-item .comic-cover, .not-found-info .recommend-box .recommend-list .comic-item .comic-cover .cover-image {
        display: block;
        width: 100%; }
    .not-found-info .recommend-box .recommend-list .comic-item .comic-title {
      display: block;
      margin-bottom: 0.25rem;
      font-size: 0.7rem;
      color: #535252; }
    .not-found-info .recommend-box .recommend-list .comic-item .comic-desc, .not-found-info .recommend-box .recommend-list .comic-item .comic-tag {
      display: block;
      margin-bottom: 0.375rem;
      font-size: 0.6rem;
      color: #969696; }
  .not-found-info .recommend-box .recommend-list.no-tag .comic-item .comic-tag {
    display: none; }
  .not-found-info .recommend-box .recommend-list.no-desc .comic-item .comic-desc {
    display: none; }

.result-list {
  overflow: hidden;
  background-color: #F5F5EE; }
  .result-list .comic-title, .result-list .comic-artist, .result-list .comic-desc, .result-list .comic-tag, .result-list .comic-latest {
    padding-top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .result-list .comic-item {
    display: block;
    margin: 0.25rem 0.25rem 0rem 0.25rem; }
    .result-list .comic-item .comic-link {
      display: block;
      height: 5.25rem;
      background-color: white;
      overflow: hidden; }
    .result-list .comic-item .comic-cover {
      float: left;
      margin: 0.275rem 0.65rem 0rem 0.25rem; }
      .result-list .comic-item .comic-cover, .result-list .comic-item .comic-cover .cover-image {
        display: block;
        width: 3.5rem;
        height: 4.65rem; }
    .result-list .comic-item .comic-title {
      display: block;
      margin-top: 0.7rem;
      font-size: 0.8rem;
      font-weight: bold;
      color: #535252; }
    .result-list .comic-item .comic-update, .result-list .comic-item .comic-tag, .result-list .comic-item .comic-desc {
      display: block;
      margin-top: 0.4rem;
      font-size: 0.6rem;
      font-weight: normal;
      color: #969696; }
  .result-list .rank-bar {
    display: none; }

.search-top-bar .search-txt, .search-top-bar .search-top-btn.back {
  border-radius: 0.1rem;
  overflow: hidden; }

.search-top-bar .search-form {
  -webkit-box-shadow: 0 0 0.125rem rgba(9, 2, 4, 0.06);
  box-shadow: 0 0 0.125rem rgba(9, 2, 4, 0.06); }

@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale; }

/* 搜索顶栏 */
.search-top-bar {
  /* 搜索栏表单 */
  /* 搜索栏文本 */
  /* 搜索栏按键 */ }
.search-top-bar .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 2.5rem;
  background-color: #ff9a6a; }
.search-top-bar .search-txt {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 1.65rem;
  margin-left: 0.15rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  /* 搜索栏文本 - 文本提示框 */
  /* 搜索栏文本 - 文本输入框 */ }
.search-top-bar .search-txt .search-hint-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
.search-top-bar .search-txt .search-hint-box .search-hint-pad {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block; }
.search-top-bar .search-txt .search-hint-box .focus-ani {
  margin-left: 0.3rem;
  visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: visibility 200ms ease, -webkit-transform 200ms ease;
  transition: visibility 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, visibility 200ms ease;
  transition: transform 200ms ease, visibility 200ms ease, -webkit-transform 200ms ease;
  line-height: 0.8rem;
  height: 0.8rem; }
.search-top-bar .search-txt .search-hint-box .focus-ani::after {
  content: "";
  display: block;
  margin-left: 100%;
  width: 0.8rem;
  height: 0.8rem;

  background-repeat: no-repeat;
  text-indent: -2500rem;
  font-size: 0; }
.search-top-bar .search-txt .search-hint-box .search-hint-icon, .search-top-bar .search-txt .search-hint-box .search-hint-txt {
  display: block;
  line-height: 0.8rem;
  height: 0.8rem;
  vertical-align: bottom;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 200ms ease, visibility 200ms ease;
  transition: opacity 200ms ease, visibility 200ms ease; }
.search-top-bar .search-txt .search-hint-box .search-hint-icon {
  width: 0.8rem;
  height: 0.8rem;

  background-repeat: no-repeat;
  text-indent: -2500rem;
  font-size: 0; }
.search-top-bar .search-txt .search-hint-box .search-hint-txt {
  margin-left: 0.1rem;
  font-size: 0.75rem;
  color: #C5C5C5; }
.search-top-bar .search-txt.focus .focus-ani {
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }
.search-top-bar .search-txt.focus .search-hint-icon, .search-top-bar .search-txt.focus .search-hint-txt {
  visibility: hidden;
  opacity: 0; }
.search-top-bar .search-txt .search-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.search-top-bar .search-txt .search-text-box .txt-input-pad {
  width: 1.35rem; }
.search-top-bar .search-txt .search-text-box .txt-input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  height: 0.95rem;
  line-height: 0.95rem;
  margin: 0;
  padding: 0;
  border: 0 none;
  background-color: transparent;
  outline: none;
  font-size: 0.75rem;
  color: #535252; }
.search-top-bar .search-txt .search-text-box .txt-input-clear {
  display: block;
  margin-left: 0.25rem;
  margin-right: 0.3rem;
  width: 0.8rem;
  height: 0.8rem;

  background-repeat: no-repeat;
  text-indent: -2500rem;
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 200ms ease, -webkit-transform 200ms ease;
  transition: visibility 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, visibility 200ms ease;
  transition: transform 200ms ease, visibility 200ms ease, -webkit-transform 200ms ease; }
.search-top-bar .search-txt.focus .txt-input-clear {
  visibility: visible;
  opacity: 1; }
.search-top-bar .search-top-btn {
  display: block; }
.search-top-bar .search-top-btn.back {
  text-indent: -2500rem;
  font-size: 0;
  padding: 0.375rem; }
.search-top-bar .search-top-btn.back::after {
  content: "";
  display: block;
  width: 1.35rem;
  height: 1.35rem;
  background: url(../images/sc_img_search.png) no-repeat -2.15rem -1.75rem;
  background-size: 5.1rem 4.275rem;
  width: 1.35rem;
  height: 1.35rem;
  background-repeat: no-repeat;
}
.search-top-bar .search-top-btn.back:active {
  background-color: #DCDCD6; }
.search-top-bar .search-top-btn.search {
  padding: 0.5rem;
  font-size: 0.75rem;
  color: white;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none; }
.search-top-bar .search-top-btn.search:active {
  background-color: #DCDCD6; }



