@charset "utf-8";
/* 默认 黑色 */
.Hui-admin-aside-wrapper {
  background-color: #111;
}
.Hui-admin-logo-wrapper {
	background-color: #222;
}
.Hui-admin-aside-wrapper .Hui-admin-menu-dropdown .Hui-menu .Hui-menu-item {
	background-color: #333;
}
.Hui-admin-aside-wrapper .Hui-menu ul li.current a,
.Hui-admin-aside-wrapper .Hui-menu ul li.current a:hover {
  background-color: #444;
}
.Hui-admin-dislpayArrow a:hover {
  color: #111;
  background-color: rgba(0,0,0,0.03);
}
