{extend name="pub/base2" /}
{block name="title"}
<title>图片编辑</title>
{/block}

{block name="body"}
<article class="clearfix pd-20">
    <form class="form form-horizontal">
        <input type="hidden" value="{$id}" name="id">
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图片序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$order}" name="pic_order">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function(){
        $("form").validate({
            rules:{
                pic_order:{
                    required:true,
                    number: true
                }
            },
            onkeyup:false,
            focusCleanup:true,
            submitHandler: function(form) {
                $.ajax({
                    url:"{:url('edit')}",
                    type:'post',
                    data:$('form').serialize(),
                    success(res) {
                        subResHandle(res)
                    }
                })
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}