{extend name="pub/base2" /}
{block name="title"}
<title>管理员编辑</title>
{/block}

{block name="body"}
<article class="clearfix pd-20">
    <form id="form" method="post" class="form form-horizontal">
        <input type="hidden" value="{$admin.id}" name="id">
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$admin.username}" name="username">
            </div>
        </div>

        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" name="password" id="password">
            </div>
        </div>

        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>重复密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" name="password2">
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function(){
        $("form").validate({
            rules:{
                username: {
                    required: true,
                    rangelength: [6, 20]
                },
                password: {
                    rangelength: [6, 16]
                },
                password2: {
                    equalTo:"#password"
                }
            },
            messages: {
                username: {
                    required: "用户名不能为空",
                    rangelength: "用户名长度6-20个字符"
                },
                password: {
                    rangelength: "密码长度6-16个字符"
                },
                password2: {
                    equalTo:"两次密码输入不一致"
                }
            },
            onkeyup:false,
            focusCleanup:false,
            submitHandler: function(form) {
                $.ajax({
                    url:"{:url('edit')}",
                    type:'post',
                    data:$('form').serialize(),
                    success(res) {
                        subResHandle(res)
                    }
                })
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
