{extend name="pub/base" /}
{block name="title"}
<title>用户管理</title>
{/block}

{block name="body"}
<section class="Hui-admin-article">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        用户管理
        <span class="c-gray en">&gt;</span>
        正常用户列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <article class="Hui-admin-content clearfix">
        <div class="panel">
            <div class="panel-body">
                <div class="text-c">
                    <input type="text" placeholder="用户名" style="width:250px" id="searchParam" class="input-text">
                    <span class="select-box" style="width:150px;">
                            <select id="vipSel" class="select" name="area_id" size="1">
                                <option value="all" selected="selected">全部用户</option>
                                <option value="no">普通用户</option>
                               <option value="yes">vip用户</option>
                            </select>
                    </span>
                    <span class="select-box" style="width:150px;">
                            <select id="loginTimeSort" class="select" name="sort" size="1">
                                <option value="" selected="selected">按登录时间排序</option>
                                <option value="asc">升序</option>
                               <option value="desc">降序</option>
                            </select>
                    </span>
                    <button type="submit" class="btn btn-success" onclick="search()"><i
                            class="Hui-iconfont">&#xe665;</i> 查询
                    </button>
                </div>
                <script>
                    function search() {
                        var username = $('#searchParam').val();
                        var isvip = $('#vipSel option:selected').val();
                        var sort = $('#loginTimeSort option:selected').val();
                        location.href = "search?username=" + username + '&isvip=' + isvip + '&status=1' + '&sort=' + sort;
                    }
                </script>
            </div>
        </div>
        <div class="panel mt-20">
            <div class="panel-body">
                <div class="clearfix">
                    <span class="f-l">
                     <a href="javascript:;" onclick="delAll('请选择要删除的用户','users')" class="btn btn-danger radius"><i
                             class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
					</span>
                    <span class="f-r">共有数据：<strong>{$count}</strong> 条</span>
                </div>
                <div class="mt-20 clearfix">
                    <table class="table table-border table-bordered table-bg table-hover table-sort">
                        <thead>
                        <tr class="text-c">
                            <th><input id="cbx" type="checkbox" value=""></th>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>昵称</th>
                            <th>手机</th>
                            <th>余额</th>
                            <th>vip到期时间</th>
                            <th>最后登录时间</th>
                            <th>注册ip</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="users" id="vo"}
                        <tr class="text-c">
                            <td><input data-val="{$vo.id}" class="cbx" type="checkbox" value=""></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.username}</td>
                            <td>{$vo.nick_name}</td>
                            <td>{$vo.mobile}</td>
                            <td>{$vo.balance}</td>
                            <td>{$vo.vip_expire_time|date='Y-m-d'}</td>
                            <td>{$vo.last_login_time|date='Y-m-d H:i'}</td>
                            <td>{$vo.reg_ip}</td>
                            <td class="f-14 td-manage">
                                <a style="text-decoration:none" class="ml-5"
                                   onclick="editCreate('用户编辑','edit?id={$vo.id}')">
                                    <i class="Hui-iconfont">&#xe6df;</i>
                                </a>
                                <a style="text-decoration:none" onClick="member_stop('{$vo.id}')"
                                   href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
                                <a style="text-decoration:none" class="ml-5" onclick="del(this,{$vo.id})"
                                   href="javascript:;"
                                   title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {$users|raw}
                </div>
            </div>
        </div>
    </article>
</section>

{/block}