{extend name="pub/base" /}
{block name="title"}
<title>短信宝配置</title>
{/block}
{block name="body"}
<div class="Hui-admin-article">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
        首页
        <span class="c-gray en">/</span>
        短信宝配置
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="clearfix pd-20">
            <form class="form form-horizontal">
                <div class="row clearfix">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$username}" name="username" autocomplete="off">
                    </div>
                </div>

                <div class="row clearfix">
                    <label class="form-label col-xs-4 col-sm-3">密码：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$password}" name="password" autocomplete="off">
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                    </div>
                </div>
            </form>
        </article>
    </div>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){
        $("form").validate({
            rules:{
                username: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            onkeyup:false,
            focusCleanup:false,
            submitHandler: function(form) {
                $.ajax({
                    url:"{:url('smsbao')}",
                    type:'post',
                    data:$('form').serialize(),
                    success(res) {
                        if (res.err == 0) {
                            layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                                //刷新父页面
                                window.location.reload();
                            });
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            }
        });
    });
</script>
{/block}

