@charset "utf-8";
/* è“ */
.Hui-admin-aside-wrapper {
  background-color: #001529;
}
.Hui-admin-logo-wrapper {
	background-color: #002140;
}
.Hui-admin-aside-wrapper .Hui-admin-menu-dropdown .Hui-menu .Hui-menu-item {
	background-color: #000c17;
}
.Hui-admin-aside-wrapper .Hui-menu ul li.current a,
.Hui-admin-aside-wrapper .Hui-menu ul li.current a:hover {
  background-color: #1890ff;
}
.Hui-admin-dislpayArrow a:hover {
  color: #001529;
  background-color: rgba(0,0,0,0.03);
}
